#dashboardPane{
    -fx-background-color: #ffffff;
}


#steps{
    -fx-background-color: #e9e2ee;
    -fx-background-radius: 20px 20px 20px 20px;
}

#calories{
    -fx-background-color: #e2ece9;
    -fx-background-radius: 20px 20px 20px 20px;
}

#heartrate{
    -fx-background-color: #fadee9;
    -fx-background-radius: 20px 20px 20px 20px;
}

#profile{
    -fx-background-color: #f6f6f6;
    -fx-background-radius: 20px 20px 20px 20px;
}

#goalPer{
    -fx-background-color: #dfebeb;
    -fx-background-radius: 20px 20px 20px 20px;
}

#statBar, #coachBar{
    -fx-background-color: #231f20;
    -fx-background-radius: 20px 20px 20px 20px;
}

#nutBar{
    -fx-background-color: #ebe7e7;
    -fx-background-radius: 20px 20px 20px 20px;
}

.chart{
    -fx-background-color: transparent;
    -fx-font-size: 10;
    -fx-text-fill: white;
    -fx-legend-visible: false;
}

.chart-plot-background{
    -fx-background-color: transparent;
}

.chart-series-line{
    -fx-stroke: white
}

.progress-indicator{
    -fx-progress-color: #37363b;
}


#foodPane{
    -fx-background-color: white;
    -fx-background-radius: 20px 20px 20px 20px;
}