#deletionPane{
    -fx-background-color: #f6f6f6;
    -fx-background-radius: 0px 0px 20px 20px;
}

#confirmBtn{
    -fx-background-color: #990006;
    -fx-background-radius: 20px 20px 20px 20px;
}

#cancelBtn{
    -fx-background-color: #343031;
    -fx-background-radius: 20px 20px 20px 20px;
}