#dailyGoal,#weeklyGoal{
    -fx-background-color:#f0e6ff;
    -fx-background-radius:30px;
}

#seeAllBtn1,#seeAllBtn2,#viewAllLogBtn{
    -fx-background-color:transparent;
    -fx-text-fill:#8150b8;
}

#seeAllBtn1:hover,#seeAllBtn2:hover,#viewAllLogBtn:hover{
    -fx-text-fill:#8975a7;
    -fx-cursor:hand;
}

#workoutCtn, #calBurnedCtn, #distRunCtn, #weeklyGoalCtn1,#weeklyGoalCtn2,#weeklyGoalCtn3{
    -fx-background-color:#001ba2;
    -fx-background-radius:45px;
}

#addGoalBtn{
    -fx-pref-width: 35;
    -fx-background-color:#D6E5E7;
    -fx-background-radius:30px;
    -fx-cursor:hand;
}


#planCtn1, #planCtn2, #planCtn3{
    -fx-background-color:#c3d5d8;
    -fx-background-radius:30px;
}

#importImgBtn{
    -fx-border-color:black;
    -fx-border-radius:8px;;
    -fx-background-radius:8px;
    -fx-background-color:#f0e6ff;
}

#importImgBtn:hover, #addPlanBtn:hover, #clearBtn:hover{
    -fx-cursor:hand;
    -fx-opacity:0.7;
}

#importImgBtn:pressed, #addPlanBtn:pressed, #clearBtn:pressed{
    -fx-opacity:0.4;
}

#addPlanBtn, #clearBtn{
    -fx-background-radius:30px;
    -fx-background-color:#D6E5E7;
}

.background-shadow{
    -fx-background-color:white;
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,.3), 8,0,0,0);
}

.log-background{
    -fx-background-color:#c3d5d8;
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,.3), 8,0,0,0);
}

