#backgroundFrame {
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-background-radius: 30px;
    -fx-border-radius:30px;
    -fx-opacity:0.3;
}

#usernameField{
    -fx-background-color: transparent;
    -fx-border-color:white;
    -fx-text-fill: white;
    -fx-border-width: 0px 0px 2px 0px
}

#passwordField, #passwordTxtField{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color:white;
    -fx-border-width: 0px 0px 2px 0px
}

#loginBtn {
   -fx-background-color:grey;
   -fx-background-radius: 40px;

}

#loginBtn:hover{
    -fx-background-color:white;
    -fx-translate-y: -4px;
    -fx-cursor:hand;
}


#signupBtn{
    -fx-background-color:transparent;
    -fx-text-fill: white;
}

#signupBtn:hover{
    -fx-cursor: hand;
    -fx-underline: true;
    -fx-opacity:0.7;
}

#signupBtn:pressed{
    -fx-opacity:0.3;
}

#visibilityBtn{
    -fx-background-color: transparent;
}

#invisibleImg{
    -fx-cursor:hand;
}

