 #main{
     -fx-background-color: #ffffff;
 }

 #navbar{
     -fx-background-color: #231f20;
     -fx-background-radius: 0px 20px 20px 0px;
 ;
 }
#navbtns{
    -fx-alignment: center;
}
 #dashbtn, #exbtn, #statbtn, #nubtn, #cobtn, #probtn, #setbtn, #logoutBtn, #notif_btn{
     -fx-padding: 0;
     -fx-border-color: none;
     -fx-background-color: none;

 }

 #dashbtn:hover, #exbtn:hover, #statbtn:hover, #nubtn:hover, #cobtn:hover, #probtn:hover, #setbtn:hover, #logoutBtn:hover{
     -fx-background-color: #8c898a;
     -fx-background-radius: 50px;

 }

 #topBar {
     -fx-border-color: #ebe7e7;
     -fx-border-style: hidden hidden solid hidden;
     -fx-border-width: 2px;
 }

