 .editButton{
    -fx-background-color:transparent;
    -fx-cursor:hand;
 }

 .trans-bg{
    -fx-background-color:transparent;
 }

 .bg-container{
    -fx-background-color:#efefef;
    -fx-background-radius:25px;
 }

 .textField-bg{
    -fx-background-color:#efefef;
 }